<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/css-head :: css-head">
</head>
<style>
	textarea{
		width:100%;
		height:100px;
	}
	
.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.chk_1{
    display: none;
}
.chk_1 + label {
	background-color: #FFF;
	border: 1px solid #C1CACA;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 9px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	margin-right: 30px;
}
.chk_1 + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.chk_1:checked + label {
	background-color: #ECF2F7;
	border: 1px solid #92A1AC;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #243441;
}

.chk_1:checked + label:after {
	content: '\2714';
	position: absolute;
	top: 0px;
	left: 0px;
	color: #758794;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	padding: 1px 0 0 0;
	vertical-align: text-top;
}
div.cbp label.font{
	text-align: center;
	font-size: 1.4em;
	vertical-align: text-top;
	margin-top: -15px;
	margin-left: -10px;
}

</style>
<body>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    当前位置：通道管理
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 系统管理</a></li>
    <li class="active">通道管理</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
	 <div class="box">
            <div class="box-header">
              <button th:if="${QX.add == '1' && QX.query == '1'}" class="btn btn-success btn-sm" id="addChannel"><i class="fa fa-plus"></i> &nbsp;&nbsp;新增</button>
            	<button class="btn btn-primary btn-sm" id="searchBtn">查询</button>
					<button class="btn btn-sm" id="resetBtn">重置</button>
            </div>
		 <!-- 查询 -->
		 <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hidden-xs">
									<div class="form-group">
										<div class="form-line">
											<label for="search_channelCode">编号</label>
											<input type="text" class="form-control" id="search_channelCode" name="search_channelCode"></input>		
										</div>
									</div>
								</div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<div class="form-line">
											<label for="search_">名称</label>
											<input type="text" class="form-control" id="search_channelName" name="search_channelName" maxlength="20"></input>		
										</div>
									</div>
								</div>
							</div>
		 <!-- 查询结束 -->
            <!-- /.box-header -->
            <div class="box-body">
              <table id="roleList" class="table table-bordered table-striped">
                <thead>
	                <tr>
	                  <th>序号</th>
	                  <th>通道编号</th>
	                  <th>通道名称</th>
	                  <th>通道类型</th>
	                  <th>通道商户号</th>
	                  <th>通道费率</th>
	                  <th>更新时间</th>
	                  <th>更新人</th>
	                  <th>操作</th>
	                </tr>
                </thead>
                <tbody>
                <tr th:if="${QX.query == '1'}" th:each="channel,stat :${channels}">
                  <td th:text="${stat.count}">序号</td>
                  <td th:text="${channel.channelCode}">通道编号</td>
                  <td th:text="${channel.channelName}">通道名称</td>
                  <td th:text="代付">通道类型</td>
                  <td th:text="${channel.channelMerchantId}">通道名称</td>
                  <td th:if="${channel.feeType == 1}" th:text="${channel.fee}+'%'"></td>
                  <td th:if="${channel.feeType == 2}" th:text="${channel.fee}"></td>
                  <td th:text="${#dates.format(channel.modifyTime,'yyyy-MM-dd HH:mm:ss')}">更新时间</td>
                  <td th:text="${channel.modifer}">更新人</td>
                  <td>
                  	<div th:if="${channel.id != 1 || meid == '1'}">
	                  	<span data-toggle="tooltip" title="编辑" th:if="${QX.edit == '1'}" class="btn btn-xs btn-info" 
	                  		th:onclick="'editChannel(\''+${channel.id}+'\',\''+${channel.channelCode}+'\',\''+${channel.channelName}+'\'
	                  			,\''+${channel.channelMerchantId}+'\',\''+${channel.channelType}+'\',\''+${channel.feeType}+'\',\''+${channel.fee}+'\');'">
	                  		<i class="fa fa-edit"></i> 编辑</span>
	                  	<span data-toggle="tooltip" title="删除" th:if="${QX.del == '1'}" class="btn btn-xs btn-danger" 
	                  		th:onclick="'delChannel(\''+${channel.id}+'\');'"><i class="fa fa-trash-o"></i> 删除</span>
                  	</div>
                  	<div th:if="${channel.id == 1 && meid != '1'}">
	                  	<span><i class="fa fa-lock"></i></span>
                  	</div>
                  </td>
                </tr>
                <tr th:unless="${QX.query == '1'}" >
                	<td colspan="7" align="center">
						<h2>此用户无权限查看该页面</h2>
                	</td>
                </tr>
                </tbody>
               </table>
               
       </div>
</section>


<!-- 新增或修改的模态框 -->
<div class="modal fade" id="channelModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title text-center" id="usermodelHead">添加用户</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal"  role="form">
				  <input type="hidden" name="url" value=""/>
				  <input type="hidden" name="channelId" value=""/>			  
				  <div class="form-group">
				    <label for="channelCode" class="col-sm-2 control-label">通道编号</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" name="channelCode" value="" id="channelCode" placeholder="通道编号">
				    </div>
				  </div>
				  
				  <div class="form-group">
				    <label for="channelName" class="col-sm-2 control-label">通道名称</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" name="channelName" value="" id="channelName" placeholder="通道名称">
				    </div>
				  </div>
				  
				  <div class="form-group">
				    <label for="channelType" class="col-sm-2 control-label">通道类型</label>
				    <div class="col-sm-10">
					    <select name="channelType" class="form-control">
					      <option value="1" selected="selected" >代付</option>
					    </select>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="channelMerchantId" class="col-sm-2 control-label">通道商户号</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" name="channelMerchantId" value="" id="channelMerchantId" placeholder="通道商户号">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="form-group">
					    <label for="feeType" class="col-sm-2 control-label">通道费率</label>
					    <div class="col-sm-10">
						    <select name="feeType" class="form-control" id="feeType">
						      <option value="" >请选择</option>
						      <option value="1" >按比例计算</option>
						      <option value="2">按笔数计算</option>
						    </select>
						    <input type="text" class="form-control" name="fee" value="" id="fee" placeholder="费率"><span id="percent">(%)</span>
					    </div>
					  </div>
				  </div>
				  
				 </form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
				<button type="submit" class="btn btn-success"  id="imgSubmit" >确定</button>
			</div>
		</div>
	</div>
</div>


<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>	
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/ztree/js/jquery.ztree.core.js}"></script>
<script th:src="@{/ztree/js/jquery.ztree.excheck.min.js}"></script>
<script th:src="@{/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js}"></script> 
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/js/path.js}"></script>
<script>
$(function(){
	
	//查询按钮事件
	$("#searchBtn").off().on("click",function(){
		var search_channelCode = $("#search_channelCode").val();
		var search_channelName = $("#search_channelName").val();
		window.location.href = _ctx+'/channel/list'
			+'?channelCode='+search_channelCode
			+'&chaneelName='+search_channelName;
	});

	//重置按钮事件
	$("#resetBtn").off().on("click",function(){
		$("#search_channelCode").val('');
		$("#search_channelName").val('');
	});
	
	 //提示框
    $("[data-toggle='tooltip']").tooltip();
	//表格分页
    $('#roleList').DataTable({
    	"scrollX"	  : true,
  		'paging'      : true,
  	    'lengthChange': true,
  	    'searching'   : true,
  	    'ordering'    : true,
  	    'info'        : true,
  	    'autoWidth'   : false,
  	  	"pagingType"  : "full_numbers",
  	  	"pageLength"  : 20
    });
	
	$("#addChannel").click(function(){
		reloadModelData(_ctx+"/channel/add","通道新增","新增","","","","","","","");
		$("#channelModal").modal("show");
	});
	
	//确认按钮
	$("#imgSubmit").click(function(){
		var channelId = $("input[name='channelId']").val();
		var url = $("input[name='url']").val();
		var channelName= $("input[name='channelName']").val();
		var channelCode= $("input[name='channelCode']").val();
		var channelMerchantId= $("input[name='channelMerchantId']").val();
		var channelType= $("[name='channelType']").val();
		var feeType= $("[name='feeType']").val();
		var fee= $("input[name='fee']").val();
		if(!checkAccount(channelName,channelCode,channelMerchantId,fee)){
			return false;
		}
		$.ajax({
			type:"post",
			url:url,
			cache:false,
			dataType:"json",
			data:{id:channelId,channelName:channelName,channelCode:channelCode,
				channelMerchantId:channelMerchantId,channelType:channelType,
				feeType:feeType,fee:fee},
			success:function(data){
				if(data.status == 'success'){
					$("#channelModal").modal("hide");
					window.location.href=window.location.href;
				}else{
					alert(data.msg);
				}
			}
		});
	});
	
})

//删除用户
function delChannel(channelId){
	if(confirm("你确定要删除此通道吗？")){
		$.ajax({
			type:"POST",
			url:_ctx+"/channel/del",
			dataType:"json",
			data:{id:channelId},
			cache:false,
			success:function(data){
				if(data.status == 'success'){
					window.location.href=window.location.href;
				}else{
					alert(data.msg);
				}
			}
		});
	}
}

//编辑用户
function editChannel(channelId,channelCode,channelName,channelMerchantId,channelType,feeType,fee){
	console.log(channelId+","+channelCode+","+channelName);
	reloadModelData(_ctx+"/channel/edit","编辑通道","更新",channelId,channelCode,channelName,channelMerchantId,channelType,feeType,fee);
	$("#channelModal").modal("show");
}

//验证数据
function checkAccount(channelName,channelCode,channelMerchantId,fee){
	if(channelName == ''){
		$("input[name='channelName']").focus();
		alert("通道名称不能为空");
		return false;
	}
	if(channelCode == ''){
		$("input[name='channelCode']").focus();
		alert("通道编号不能为空");
		return false;
	}
	if(channelMerchantId == ''){
		$("input[name='channelMerchantId']").focus();
		alert("通道商户号不能为空");
		return false;
	}
	if(fee == ''){
		$("input[name='fee']").focus();
		alert("费率不能为空");
		return false;
	}
	var feeType= $("[name='feeType']").val();
	if(feeType == ''){
		$("input[name='fee']").focus();
		alert("费率类型不能为空");
		return false;
	}
	return true;
}

//加载模态框的数据
function reloadModelData(url,title,btntext,channelId,channelCode,channelName,channelMerchantId,channelType,feeType,fee){
	$("#channelModal #usermodelHead").text(title);
	$("#channelModal #imgSubmit").text(btntext);
	$("input[name='url']").val(url);
	$("input[name='channelId']").val(channelId);
	$("input[name='channelCode']").val(channelCode);
	$("input[name='channelName']").val(channelName);
	$("input[name='channelMerchantId']").val(channelMerchantId);
	$("#channelModal [name='channelType']").val(channelType);
	$("#channelModal [name='feeType']").val(feeType);
	$("input[name='fee']").val(fee);
}

//费率改变
$('#feeType').change(function(){ 
	if($(this).children('option:selected').val() == 1) {
		$("#percent").show();
		$("input[name='fee']").val('');
	} else {
		$("#percent").hide();
		$("input[name='fee']").val('');
	}
}) ;

</script>
</body>
</html>
