<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.pay.trade.mapper.BatchTradeDetailMapper" >
  <resultMap id="BaseResultMap" type="com.cloud.pay.trade.entity.BatchTradeDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="payee_bank_acct_name" property="payeeBankAcctName" jdbcType="VARCHAR" />
    <result column="payee_bank_acct_type" property="payeeBankAcctType" jdbcType="INTEGER" />
    <result column="payee_bank_acct_no" property="payeeBankAcctNo" jdbcType="VARCHAR" />
    <result column="payee_bank_id" property="payeeBankId" jdbcType="INTEGER" />
    <result column="payee_bank_name" property="payeeBankName" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, batch_no, payee_bank_acct_name, payee_bank_acct_type, payee_bank_acct_no, payee_bank_id, 
    payee_bank_name, amount, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_batch_trade_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_batch_trade_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cloud.pay.trade.entity.BatchTradeDetail" >
    insert into t_batch_trade_detail (id, batch_no, payee_bank_acct_name, 
      payee_bank_acct_type, payee_bank_acct_no, payee_bank_id, 
      payee_bank_name, amount, remark
      )
    values (#{id,jdbcType=INTEGER}, #{batchNo,jdbcType=VARCHAR}, #{payeeBankAcctName,jdbcType=VARCHAR}, 
      #{payeeBankAcctType,jdbcType=INTEGER}, #{payeeBankAcctNo,jdbcType=VARCHAR}, #{payeeBankId,jdbcType=INTEGER}, 
      #{payeeBankName,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cloud.pay.trade.entity.BatchTradeDetail" >
    insert into t_batch_trade_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="batchNo != null" >
        batch_no,
      </if>
      <if test="payeeBankAcctName != null" >
        payee_bank_acct_name,
      </if>
      <if test="payeeBankAcctType != null" >
        payee_bank_acct_type,
      </if>
      <if test="payeeBankAcctNo != null" >
        payee_bank_acct_no,
      </if>
      <if test="payeeBankId != null" >
        payee_bank_id,
      </if>
      <if test="payeeBankName != null" >
        payee_bank_name,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="payeeBankAcctName != null" >
        #{payeeBankAcctName,jdbcType=VARCHAR},
      </if>
      <if test="payeeBankAcctType != null" >
        #{payeeBankAcctType,jdbcType=INTEGER},
      </if>
      <if test="payeeBankAcctNo != null" >
        #{payeeBankAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="payeeBankId != null" >
        #{payeeBankId,jdbcType=INTEGER},
      </if>
      <if test="payeeBankName != null" >
        #{payeeBankName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cloud.pay.trade.entity.BatchTradeDetail" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Sep 11 18:49:35 CST 2018.
    -->
    update t_batch_trade_detail
    <set >
      <if test="batchNo != null" >
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="payeeBankAcctName != null" >
        payee_bank_acct_name = #{payeeBankAcctName,jdbcType=VARCHAR},
      </if>
      <if test="payeeBankAcctType != null" >
        payee_bank_acct_type = #{payeeBankAcctType,jdbcType=INTEGER},
      </if>
      <if test="payeeBankAcctNo != null" >
        payee_bank_acct_no = #{payeeBankAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="payeeBankId != null" >
        payee_bank_id = #{payeeBankId,jdbcType=INTEGER},
      </if>
      <if test="payeeBankName != null" >
        payee_bank_name = #{payeeBankName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloud.pay.trade.entity.BatchTradeDetail" >
    update t_batch_trade_detail
    set batch_no = #{batchNo,jdbcType=VARCHAR},
      payee_bank_acct_name = #{payeeBankAcctName,jdbcType=VARCHAR},
      payee_bank_acct_type = #{payeeBankAcctType,jdbcType=INTEGER},
      payee_bank_acct_no = #{payeeBankAcctNo,jdbcType=VARCHAR},
      payee_bank_id = #{payeeBankId,jdbcType=INTEGER},
      payee_bank_name = #{payeeBankName,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>