<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.pay.trade.mapper.BatchTradeMapper" >
  <resultMap id="BaseResultMap" type="com.cloud.pay.trade.entity.BatchTrade" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="trade_time" property="tradeTime" jdbcType="TIMESTAMP" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="total_count" property="totalCount" jdbcType="INTEGER" />
    <result column="payer_merchant_id" property="payerMerchantId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="auditor" property="auditor" jdbcType="VARCHAR" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="audit_optinion" property="auditOptinion" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, batch_no, trade_time, total_amount, total_count, payer_merchant_id, status, creator, 
    create_time, auditor, audit_time, audit_optinion
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_batch_trade
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_batch_trade
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cloud.pay.trade.entity.BatchTrade" >
    insert into t_batch_trade (id, batch_no, trade_time, 
      total_amount, total_count, payer_merchant_id, 
      status, creator, create_time, 
      auditor, audit_time)
    values (#{id,jdbcType=INTEGER}, #{batchNo,jdbcType=VARCHAR}, #{tradeTime,jdbcType=TIMESTAMP}, 
      #{totalAmount,jdbcType=DECIMAL}, #{totalCount,jdbcType=INTEGER}, #{payerMerchantId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{auditor,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cloud.pay.trade.entity.BatchTrade" >
    insert into t_batch_trade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="batchNo != null" >
        batch_no,
      </if>
      <if test="tradeTime != null" >
        trade_time,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="totalCount != null" >
        total_count,
      </if>
      <if test="payerMerchantId != null" >
        payer_merchant_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="auditor != null" >
        auditor,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeTime != null" >
        #{tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalCount != null" >
        #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="payerMerchantId != null" >
        #{payerMerchantId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cloud.pay.trade.entity.BatchTrade" >
    update t_batch_trade
    <set >
      <if test="batchNo != null" >
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeTime != null" >
        trade_time = #{tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalCount != null" >
        total_count = #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="payerMerchantId != null" >
        payer_merchant_id = #{payerMerchantId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null" >
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloud.pay.trade.entity.BatchTrade" >
    update t_batch_trade
    set batch_no = #{batchNo,jdbcType=VARCHAR},
      trade_time = #{tradeTime,jdbcType=TIMESTAMP},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      total_count = #{totalCount,jdbcType=INTEGER},
      payer_merchant_id = #{payerMerchantId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      auditor = #{auditor,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <resultMap id="BaseResultDTO" type="com.cloud.pay.trade.dto.BatchTradeDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="trade_time" property="tradeTime" jdbcType="TIMESTAMP" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="total_count" property="totalCount" jdbcType="INTEGER" />
    <result column="payer_merchant_id" property="payerMerchantId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="auditor" property="auditor" jdbcType="VARCHAR" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="getBatchTradeList" resultMap="BaseResultDTO" >
	    SELECT
		t.id,
		t.batch_no,
		t.trade_time,
		t.total_amount,
		t.total_count,
		t.payer_merchant_id,
		m.type,
		m. NAME,
		t. STATUS,
		t.creator,
		t.create_time,
		t.auditor,
		t.audit_time
	FROM
		t_batch_trade t,
		t_merchant_base_info m
	WHERE
		t.payer_merchant_id = m.id
	  <if test="status != null" >
        and t.status = #{status,jdbcType=INTEGER}
      </if>
      <if test="startTime != null" >
       and t.trade_time &gt; #{startTime}
      </if>
      <if test="endTime != null" >
       and t.trade_time &lt; #{endTime}
      </if>
  </select>
  
  <update id="audit" parameterType="com.cloud.pay.trade.entity.BatchTrade" >
    update t_batch_trade
    set status = #{status,jdbcType=INTEGER},
      audit_optinion = #{auditOptinion,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryBatchByBatchNo" resultMap="BaseResultDTO">
      SELECT
		t.id,
		t.batch_no,
		t.trade_time,
		t.total_amount,
		t.total_count,
		t.payer_merchant_id,
		t.STATUS,
		t.creator,
		t.create_time,
		t.auditor,
		t.audit_time
	FROM
		t_batch_trade t
	where t.payer_merchant_id = #{merchantId,jdbcType=INTEGER}
	and t.batch_no = #{batchNo,jdbcType=VARCHAR}
  </select>
</mapper>