<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.pay.trade.mapper.MerchantRouteConfMapper" >
  <resultMap id="BaseResultMap" type="com.cloud.pay.trade.entity.MerchantRouteConf" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="channel_id" property="channelId" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="loaning" property="loaning" jdbcType="INTEGER" />
    <result column="loaning_org_id" property="loaningOrgId" jdbcType="INTEGER" />
    <result column="loaning_amount" property="loaningAmount" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifer" property="modifer" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, channel_id, merchant_id, loaning, loaning_org_id, loaning_amount, status, creator, 
    create_time, modifer, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_merchant_route_conf
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_merchant_route_conf
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cloud.pay.trade.entity.MerchantRouteConf" >
    insert into t_merchant_route_conf (id, type, channel_id, merchant_id, 
      loaning, loaning_org_id, loaning_amount, 
      status, creator, create_time, 
      modifer, modify_time)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{channelId,jdbcType=INTEGER}, #{merchantId,jdbcType=INTEGER}, 
      #{loaning,jdbcType=INTEGER}, #{loaningOrgId,jdbcType=INTEGER}, #{loaningAmount,jdbcType=DECIMAL}, 
      #{status,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifer,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cloud.pay.trade.entity.MerchantRouteConf" >
    insert into t_merchant_route_conf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="loaning != null" >
        loaning,
      </if>
      <if test="loaningOrgId != null" >
        loaning_org_id,
      </if>
      <if test="loaningAmount != null" >
        loaning_amount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifer != null" >
        modifer,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="loaning != null" >
        #{loaning,jdbcType=INTEGER},
      </if>
      <if test="loaningOrgId != null" >
        #{loaningOrgId,jdbcType=INTEGER},
      </if>
      <if test="loaningAmount != null" >
        #{loaningAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifer != null" >
        #{modifer,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cloud.pay.trade.entity.MerchantRouteConf" >
    update t_merchant_route_conf
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="loaning != null" >
        loaning = #{loaning,jdbcType=INTEGER},
      </if>
      <if test="loaningOrgId != null" >
        loaning_org_id = #{loaningOrgId,jdbcType=INTEGER},
      </if>
      <if test="loaningAmount != null" >
        loaning_amount = #{loaningAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifer != null" >
        modifer = #{modifer,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloud.pay.trade.entity.MerchantRouteConf" >
    update t_merchant_route_conf
    set type = #{type,jdbcType=INTEGER},
      channel_id = #{channelId,jdbcType=INTEGER},
      merchant_id = #{merchantId,jdbcType=INTEGER},
      loaning = #{loaning,jdbcType=INTEGER},
      loaning_org_id = #{loaningOrgId,jdbcType=INTEGER},
      loaning_amount = #{loaningAmount,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifer = #{modifer,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <resultMap id="BaseResultDTO" type="com.cloud.pay.trade.dto.MerchantRouteDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="channel_id" property="channelId" jdbcType="INTEGER" />
    <result column="channel_name" property="channelName" jdbcType="VARCHAR" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
    <result column="loaning" property="loaning" jdbcType="INTEGER" />
    <result column="loaning_org_id" property="loaningOrgId" jdbcType="INTEGER" />
    <result column="org_name" property="loaningOrgName" jdbcType="VARCHAR" />
    <result column="loaning_amount" property="loaningAmount" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="modifer" property="modifer" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="getMerchantRouteConfList" resultMap="BaseResultDTO">
	 	SELECT
			mr.id,
			mr.type,
			mr.channel_id,
			ch.channel_name,
			mr.merchant_id,
			mb. NAME merchant_name,
			mr.loaning,
			mr.loaning_org_id,
			org. NAME org_name,
			mr.loaning_amount,
			mr.STATUS,
			mr.modifer,
			mr.modify_time
		FROM
			t_merchant_route_conf mr
		LEFT JOIN t_merchant_base_info mb ON mr.merchant_id = mb.id
		LEFT JOIN t_channel ch ON mr.channel_id = ch.id
		LEFT JOIN t_merchant_base_info org ON mr.loaning_org_id = org.id
		where 1=1
	  <if test="type != null" >
        and mr.type = #{type,jdbcType=INTEGER}
      </if>
      <if test="status != null" >
        and mr.status = #{status,jdbcType=INTEGER}
      </if>
      <if test="merchantName != null and merchantName != ''" >
       and mb.name like concat('%',#{merchantName,jdbcType=VARCHAR},'%')
      </if>
      <if test="startTime != null" >
       and mr.modify_time &gt; #{startTime}
      </if>
      <if test="endTime != null" >
       and mr.modify_time &lt; #{endTime}
      </if>
      <if test="userMerchantId != null and userMerchantType == 'org'" >
       and (mr.merchant_id = #{userMerchantId,jdbcType=INTEGER} or mb.org_id = #{userMerchantId,jdbcType=INTEGER})
      </if>
      <if test="userMerchantId != null and userMerchantType == 'merchant'" >
       and mr.merchant_id = #{userMerchantId,jdbcType=INTEGER}
      </if>
 </select>
 <select id="selectByMerchantIdAndChannelId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_merchant_route_conf
    where channel_id = #{channelId,jdbcType=INTEGER}
      and merchant_id = #{merchantId,jdbcType=INTEGER}
  </select>
</mapper>