<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.pay.merchant.mapper.MerchantSecretMapper" >
  <resultMap id="BaseResultMap" type="com.cloud.pay.merchant.entity.MerchantSecret" >
    <id column="merchant_id" property="merchantId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cloud.pay.merchant.entity.MerchantSecret" extends="BaseResultMap" >
    <result column="secret" property="secret" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    merchant_id
  </sql>
  <sql id="Blob_Column_List" >
    secret
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_merchant_secret
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_merchant_secret
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cloud.pay.merchant.entity.MerchantSecret" >
    insert into t_merchant_secret (merchant_id, secret)
    values (#{merchantId,jdbcType=INTEGER}, #{secret,jdbcType=LONGVARBINARY})
  </insert>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cloud.pay.merchant.entity.MerchantSecret" >
    update t_merchant_secret
    set secret = #{secret,jdbcType=LONGVARBINARY}
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </update>
</mapper>