<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.pay.merchant.mapper.MerchantPrepayJournalMapper" >
  <resultMap id="BaseResultMap" type="com.cloud.pay.merchant.entity.MerchantPrepayJournal" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="debit" property="debit" jdbcType="INTEGER" />
    <result column="trade_id" property="tradeId" jdbcType="INTEGER" />
    <result column="prepay_trade_id" property="prePayTradeId" jdbcType="INTEGER" />
    <result column="prepay_id" property="prepayId" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, debit, trade_id, prepay_trade_id, prepay_id, amount, balance, create_time, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_merchant_prepay_journal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.cloud.pay.merchant.entity.MerchantPrepayJournal" >
    insert into t_merchant_prepay_journal (id, debit, trade_id, prepay_trade_id, prepay_id, 
      amount, balance, create_time, type
      )
    values (#{id,jdbcType=INTEGER}, #{debit,jdbcType=INTEGER}, #{tradeId,jdbcType=INTEGER}, #{prepayTradeId,jdbcType=INTEGER}, #{prepayId,jdbcType=INTEGER}, 
      #{amount,jdbcType=DECIMAL}, #{balance,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER}
      )
  </insert>
  
  <resultMap id="BaseResultDTO" type="com.cloud.pay.merchant.dto.MerchantPrepayJournalDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="debit" property="debit" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="name" property="merchantName" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectList" resultMap="BaseResultDTO">
      SELECT
			j.id,
			j.debit,
			j.type type,
			m. NAME,
			j.amount,
			j.balance,
			j.create_time
		FROM
			t_merchant_prepay_journal j,
			t_merchant_prepay_info i,
			t_merchant_base_info m
		WHERE
			j.prepay_id = i.id
		AND i.merchant_id = m.id
      <if test="merchantId != null" >
        and m.id = #{merchantId,jdbcType=INTEGER}
      </if>
      <if test="startTime != null" >
       and j.create_time &gt; #{startTime}
      </if>
      <if test="endTime != null" >
       and j.create_time &lt; #{endTime}
      </if>
      order by j.create_time desc
  </select>
  
</mapper>