<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.pay.merchant.mapper.MerchantSecretMapper" >
  <resultMap id="BaseResultMap" type="com.cloud.pay.merchant.entity.MerchantSecret" >
    <id column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="secret" jdbcType="VARCHAR" property="secret" />
  </resultMap>
  <sql id="Base_Column_List" >
    merchant_id
  </sql>
  <sql id="Blob_Column_List" >
    secret
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_merchant_secret
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_merchant_secret
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cloud.pay.merchant.entity.MerchantSecret" >
    insert into t_merchant_secret (merchant_id, secret)
    values (#{merchantId,jdbcType=INTEGER}, #{secret,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cloud.pay.merchant.entity.MerchantSecret" >
    update t_merchant_secret
    set secret = #{secret,jdbcType=VARCHAR}
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </update>
  
  <select id="selectByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
      select 
           s.merchant_id,s.secret 
      from t_merchant_secret s,t_merchant_base_info i 
      where s.merchant_id = i.id and i.code = #{code,jdbcType=VARCHAR}
  </select>
</mapper>