<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.pay.common.mapper.CityMapper" >
  <resultMap id="BaseResultMap" type="com.cloud.pay.common.entity.City" >
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cid, city, pid
  </sql>
  <select id="selectByPid" resultMap="BaseResultMap"  >
    select cid, city, pid
    from t_city
     where pid = #{pid,jdbcType=INTEGER}
  </select>
  <select id="select" resultMap="BaseResultMap"  >
    select cid, city, pid
    from t_city
     where pid = #{pid,jdbcType=INTEGER}
     	and cid = #{cid,jdbcType=INTEGER}
  </select>
</mapper>