<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/css-head :: css-head">
</head>
<style>
	textarea{
		width:100%;
		height:100px;
	}
	
.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.chk_1{
    display: none;
}
.chk_1 + label {
	background-color: #FFF;
	border: 1px solid #C1CACA;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 9px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	margin-right: 30px;
}
.chk_1 + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.chk_1:checked + label {
	background-color: #ECF2F7;
	border: 1px solid #92A1AC;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #243441;
}

.chk_1:checked + label:after {
	content: '\2714';
	position: absolute;
	top: 0px;
	left: 0px;
	color: #758794;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	padding: 1px 0 0 0;
	vertical-align: text-top;
}
div.cbp label.font{
	text-align: center;
	font-size: 1.4em;
	vertical-align: text-top;
	margin-top: -15px;
	margin-left: -10px;
}

</style>
<body>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    	 当前位置：商户信息
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 系统管理</a></li>
    <li class="active">商户信息</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
	 <div class="box">
            <div class="box-header">
              <h3 class="box-title">商户列表</h3>
              <br><br>
              <button th:if="${QX.add == '1' && QX.query == '1'}" class="btn btn-success btn-sm" id="addMerchant"><i class="fa fa-plus"></i> &nbsp;&nbsp;添加商户</button>
              <button class="btn btn-primary btn-sm" id="searchBtn">查询</button>
					<button class="btn btn-sm" id="resetBtn">重置</button>
            </div>
				  
				  <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hidden-xs">
									<div class="form-group">
										<div class="form-line">
											<label for="search_orgId">所属机构</label>
										    <select name="search_orgId" class="form-control">
										      <option value="">请选择</option>
										      <option value="org">合作机构</option>
										      <option value="merchant">商户</option>
										    </select>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<div class="form-line">
											<label for="search_code">商户编号</label>
											<input type="text" class="form-control" id="search_code" name="search_code" maxlength="20"></input>		
										</div>
									</div>
								</div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="form-group">
										<div class="form-line">
											<label for="search_name">商户名称</label>
											<input type="text" class="form-control" id="search_name" name="search_name" maxlength="20"></input>		
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hidden-xs">
									<div class="form-group">
										<div class="form-line">
											<label for="search_status">审核状态</label>
										    <select name="search_status" class="form-control">
										      <option value="">请选择</option>
										      <option value="1">待审核</option>
										      <option value="2">审核通过</option>
										      <option value="3">审核不通过</option>
										    </select>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hidden-xs">
									<div class="form-group">
										<div class="form-line">
											<label for="createDateBegin">更新开始日期</label>
											<input type="text" class="form-control" id="createDateBegin" name="createDateBegin" readonly></input>		
										</div>
									</div>
								</div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hidden-xs">
									<div class="form-group">
										<div class="form-line">
											<label for="createDateEnd">更新结束日期</label>
											<input type="text" class="form-control" id="createDateEnd" name="createDateEnd" readonly></input>		
										</div>
									</div>
								</div>		
							</div>
			
            <!-- /.box-header -->
            <div class="box-body">
              <table id="roleList" class="table table-bordered table-striped">
                <thead>
	                <tr>
	                  <th>商户编号</th>
	                  <th>商户名称</th>
	                  <th>商户类型</th>
	                  <th>所属机构</th>
					  <th>审核状态</th>
					  <th>经办时间</th>
					  <th>经办人</th>
	                  <th>更新时间</th>
					  <th>更新人</th>
	                  <th>操作</th>
	                </tr>
                </thead>
                <tbody>
                <tr th:if="${QX.query == '1'}" th:each="merchant,stat :${merchantApplys}">
                  <td th:text="${merchant.code}"></td>
                  <td th:text="${merchant.name}"></td>
                  <td th:if="${merchant.type == 1}" th:text="代理商"></td>
                  <td th:if="${merchant.type == 2}" th:text="第三方支付"></td>
                  <td th:if="${merchant.type == 3}" th:text="垫资商"></td>
                  <td th:if="${merchant.type == 4}" th:text="企业商户"></td>
                  <td th:if="${merchant.type == 5}" th:text="个人商户"></td>
                  <td th:text="${merchant.orgName}"></td>
                  <td th:if="${merchant.status == 1}" th:text="正常"></td>
				  <td th:if="${merchant.status == 0}" th:text="冻结"></td>
				  <td th:text="${#dates.format(merchant.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                  <td th:text="${merchant.creator}"></td>
                  <td th:text="${#dates.format(merchant.modifyTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                  <td th:text="${merchant.modifer}"></td>
                  <td>
                  	<div th:if="${merchant.id != 1 || meid == '1'}">
	                  	<span data-toggle="tooltip" title="编辑" th:if="${QX.edit == '1'}" class="btn btn-xs btn-info" 
							th:onclick="'editMerchant(\''+${merchant.id}+'\');'">
							<i class="fa fa-edit"></i> 编辑
						</span>
	                  	<span data-toggle="tooltip" title="删除" th:if="${QX.del == '1'}" class="btn btn-xs btn-danger" th:onclick="'delMerchantApply(\''+${merchant.id}+'\');'"><i class="fa fa-trash-o"></i> 删除</span>
	                  	<span data-toggle="tooltip" title="冻结" th:if="${merchant.status == 1}" class="btn btn-xs btn-danger" th:onclick="'updateStatus(\''+${merchant.id}+'\', 0);'"><i class="fa fa-trash-o"></i> 冻结</span>
	                  	<span data-toggle="tooltip" title="解冻" th:if="${merchant.status == 0}" class="btn btn-xs btn-danger" th:onclick="'updateStatus(\''+${merchant.id}+'\', 1);'"><i class="fa fa-trash-o"></i> 解冻</span>
	                  	<span data-toggle="tooltip" title="权限不够" th:unless="${QX.edit == '1' || QX.add == '1' || QX.del == '1'}" ><i class="fa fa-lock"></i> 无权限</span>
                  	</div>
                  	<div th:if="${merchant.id == 1 && meid != '1'}">
	                  	<span><i class="fa fa-lock"></i></span>
                  	</div>
                  </td>
                </tr>
                <tr th:unless="${QX.query == '1'}" >
                	<td colspan="7" align="center">
						<h2>此商户无权限查看该页面</h2>
                	</td>
                </tr>
                </tbody>
               </table>
               
       </div>
</section>


<!-- 新增或修改的模态框 -->
<div class="modal fade" id="merchantModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title text-center" id="usermodelHead">添加商户</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
				  <input type="hidden" name="url" value=""/>
				  <input type="hidden" name="id" value=""/>
				  <h2>基础资料： </h2>
				  <div class="form-group">
					    <label for="orgId" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>所属机构</label>
					    <div class="col-sm-4">
						    <select name="orgId" class="form-control">
						      <option value="">请选择</option>
						      <option th:each="merchant : ${merchants}" th:value="${merchant.id}" th:text="${merchant.name}">/option>
						    </select>
					    </div>
					    <label for="type" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>商户类型</label>
					    <div class="col-sm-4">
						    <select name="type" class="form-control">
						      <option value="">请选择</option>
							  <option value="4">企业商户</option>
							  <option value="5">个人商户</option>
						    </select>
					    </div>
					  </div>
				
				  <div class="form-group">
					    <label for="name" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>商户名称</label>
					    <div class="col-sm-4">
						    <input class="form-control" name="name" value="" id="name">
					    </div>
					    <label for="shortName" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>商户简称</label>
					    <div class="col-sm-4">
						    <input class="form-control" name="shortName" value="" id="shortName">
					    </div>
					  </div>
					  
					<div class="form-group">
					    <label for="industryCategory" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>行业类别</label>
					    <div class="col-sm-4">
						    <input class="form-control" name="industryCategory" value="" id="industryCategory">
					    </div>
					    <label for="city" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>所在城市</label>
					    <div class="col-sm-4">
						    <input class="form-control" name="city" value="" id="city">
					    </div>
					  </div>
					  
					<div class="form-group">
					    <label for="address" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>详细地址</label>
					    <div class="col-sm-4">
						    <input class="form-control" name="address" value="" id="address">
					    </div>
					    <label for="legal" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>负责人</label>
					    <div class="col-sm-4">
						    <input class="form-control" name="legal" value="" id="legal">
					    </div>
					  </div>
					 <div class="form-group">
					    <label for="email" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>邮箱</label>
					    <div class="col-sm-4">
						    <input class="form-control" name="email" value="" id="email">
					    </div>
					    <label for="mobile" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>负责人手机</label>
					    <div class="col-sm-4">
						    <input class="form-control" name="mobile" value="" id="mobile">
					    </div>
					  </div>
					  <h2>结算资料： </h2>
					  <div class="form-group">
					    <label for="bankName" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>开户银行</label>
					    <div class="col-sm-4">
						    <input class="form-control" name="bankName" value="" id="bankName">
					    </div>
					    <label for="bankId" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>联行号</label>
					    <div class="col-sm-4">
						    <select name="bankId" class="form-control">
						      <option value="">请选择</option>
						      <option th:each="merchant : ${merchants}" th:value="${merchant.id}" th:text="${merchant.name}">/option>
						    </select>
					    </div>
					  </div>
					  
					  <div class="form-group">
					    <label for="bankCardNo" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>银行卡号</label>
					    <div class="col-sm-4">
						    <input class="form-control" name="bankCardNo" value="" id="bankCardNo">
					    </div>
					    <label for="bankAccountType" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>账户类型</label>
					    <div class="col-sm-4">
						    <select name="bankAccountType" class="form-control">
						      <option value="">请选择</option>
						      <option value="1">企业</option>
						      <option value="2">个人</option>
						    </select>
					    </div>
					  </div>
					  
					  <div class="form-group">
					    <label for="bankAccountName" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>户名</label>
					    <div class="col-sm-4">
						    <input class="form-control" name="bankAccountName" value="" id="bankAccountName">
					    </div>
					    <label for="certType" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>证件类型</label>
					    <div class="col-sm-4">
						    <select name="certType" class="form-control">
						      <option value="1">身份证</option>
						    </select>
					    </div>
					  </div>
					  
					  <div class="form-group">
					    <label for="certNo" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>证件号码</label>
					    <div class="col-sm-4">
						    <input class="form-control" name="certNo" value="" id="certNo">
					    </div>
					    <label for="mobileNo" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>手机号码</label>
					    <div class="col-sm-4">
						    <input class="form-control" name="mobileNo" value="" id="mobileNo">
					    </div>
					  </div>
					  
					  <h2>费率设置： </h2>
					  <div class="form-group">
					    <label for="payFeeType" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>代付费率</label>
					    <div class="col-sm-4">
						    <select name="payFeeType" class="form-control">
						      <option value="1">按比例计算</option>
						      <option value="2">按笔数计算</option>
						    </select>
					    </div>
					    <div class="col-sm-3">
						    <input type="text" class="form-control" name="payFee" value="" id="payFee" placeholder="费率（%）">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="loanFeeType" class="col-sm-2 control-label"><span style="color:#FF0000;">*</span>垫资费率</label>
					    <div class="col-sm-4">
						    <select name="loanFeeType" class="form-control">
						      <option value="1">按比例计算</option>
						      <option value="2">按笔数计算</option>
						    </select>
					    </div>
					    <div class="col-sm-3">
						    <input type="text" class="form-control" name="loanFee" value="" id="loanFee" placeholder="费率（%）">
					    </div>
					  </div>
					  
					  <h2>证件上传： </h2>
	                
				  
				 </form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
				<button type="submit" class="btn btn-success"  id="imgSubmit" >确定</button>
			</div>
		</div>
	</div>
</div>

<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>	
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/ztree/js/jquery.ztree.core.js}"></script>
<script th:src="@{/ztree/js/jquery.ztree.excheck.min.js}"></script>
<script th:src="@{/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js}"></script> 
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/js/path.js}"></script>
<script>
$(function(){
	
	//查询按钮事件
	$("#searchBtn").off().on("click",function(){
		var search_orgId = $("[name='search_orgId']").val();
		var search_status = $("[name='search_status']").val();
		var search_code = $("#search_code").val();
		var search_name = $("#search_name").val();
		var createDateBegin = $("#createDateBegin").val();
		var createDateEnd = $("#createDateEnd").val();
		window.location.href = _ctx+'/merchantApply/list?merchantType=merchant'
			+'&orgId='+search_orgId
			+'&status='+search_status
			+'&merchantName='+search_name
			+'&status='+search_status
			+'&createDateBegin='+createDateBegin
			+'&createDateEnd='+createDateEnd;
	});

	//重置按钮事件
	$("#resetBtn").off().on("click",function(){
		$("[name='search_orgId']").val('');
		$("[name='search_status']").val('');
		$("#search_code").val('');
		$("#search_name").val('');
		$("#createDateBegin").val('');
		$("#createDateEnd").val('');
	});
	
	initDateTimepicker();
	//初始化日期插件
	function initDateTimepicker(){
		$("#createDateBegin").datetimepicker({
			format:'yyyy-mm-dd hh:ii:ss',
			language:'zh-CN',
//			locale:moment.locale('zh-cn'),
			todayBtn:true,
			autoclose:true,
//			todayHignlight:true,
//			maxView:"year",
//			minView:"hour",
			showMeridian:1,
			pickerPosition:"bottom-left"
//			startDate:new Date()
		}).on('click',function(e){
			$("#createDateBegin").datetimepicker('setEndDate',$("#createDateEnd").val());
		});
		$("#createDateEnd").datetimepicker({
			format:'yyyy-mm-dd hh:ii:ss',
			language:'zh-CN',
//			locale:moment.locale('zh-cn'),
			todayBtn:true,
			autoclose:true,
//			todayHignlight:true,
//			maxView:"year",
//			minView:"hour",
			showMeridian:1,
			pickerPosition:"bottom-left"
//			startDate:new Date()
		}).on('click',function(e){
			$("#createDateEnd").datetimepicker('setStartDate',$("#createDateBegin").val());
		});
	}
	
	
	 //提示框
    $("[data-toggle='tooltip']").tooltip();
	//表格分页
    $('#roleList').DataTable({
    	"scrollX"	  : true,
  		'paging'      : true,
  	    'lengthChange': true,
  	    'searching'   : true,
  	    'ordering'    : true,
  	    'info'        : true,
  	    'autoWidth'   : false,
  	  	"pagingType"  : "full_numbers",
  	  	"pageLength"  : 10
    });
	
	$("#addMerchant").click(function(){
		reloadModelData(_ctx+"/merchantApply/add","添加商户","添加","");
		$("#merchantModal").modal("show");
	});
	
	var bankInfo = function(id, orgId, name, shortName, type, industryCategory, legal, city, address, email, mobile, status) {
		 this.id = id;
		 this.orgId = orgId;
		 this.name = name;
		 this.shortName = shortName;
		 this.type = type;
		 this.industryCategory = industryCategory;
		 this.legal = legal;
		 this.city = city;
		 this.address = address;
		 this.email = email;
		 this.mobile = mobile;
		 this.status = status;
	 }
	var bankInfo = function(merchantId, bankName, bankId, bankCardNo, bankAccontType, bankAccountName, certType, certNo, mobileNo) {
		 this.merchantId = merchantId;
		 this.bankName = bankName;
		 this.bankId = bankId;
		 this.bankCardNo = bankCardNo;
		 this.bankAccontType = bankAccontType;
		 this.bankAccountName = bankAccountName;
		 this.certType = certType;
		 this.certNo = certNo;
		 this.mobileNo = mobileNo;
	 }
	var feeInfo = function(merchantId, payFeeType, payFee, loanFeeType, loanFee) {
		this.merchantId = merchantId;
		 this.payFeeType = payFeeType;
		 this.payFee = payFee;
		 this.loanFeeType = loanFeeType;
		 this.loanFee = loanFee;
	 }
	 var feeInfo = function(merchantId, attachementType, attachementPath) {
		this.merchantId = merchantId;
		 this.attachementType = attachementType;
		 this.attachementPath = attachementPath;
	 }
	 //JSON.stringify(feeInfo)
	
	//确认按钮
	$("#imgSubmit").click(function(){
		var routeId = $("input[name='id']").val();
		var url = $("input[name='url']").val();
		var type = $("[name='type']").val();
		var merchantId = $("input[name='merchantId']").val();
		var merchantId = $("input[name='merchantId']").val();
		var channelId= $("input[name='channelId']").val();
		var loaning= $("[name='loaning']").val();
		var loaningOrgId= $("input[name='loaningOrgId']").val();
		var loaningAmount= $("input[name='loaningAmount']").val();
		if(url == _ctx+'/merchantApply/add'){
			if(!checkAccount(type,merchantId,channelId,loaning,loaningOrgId,loaningAmount)){
				return false;
			}
		}
		$.ajax({
			type:"post",
			url:url+'?merchantType=merchant',
			cache:false,
			dataType:"json",
			data:{id:routeId,merchantId:merchantId,channelId:channelId,loaning:loaning,loaningAmount:loaningAmount,loaningOrgId:loaningOrgId,type:type},
			success:function(data){
				if(data.status == 'success'){
					$("#merchantModal").modal("hide");
					window.location.href=window.location.href;
				}else{
					alert(data.msg);
				}
			}
		});
	});
	
})

//删除商户
function delMerchantApply(routeId){
	if(confirm("你确定要删除此商户吗？")){
		$.ajax({
			type:"POST",
			url:_ctx+"/merchantApply/del",
			dataType:"json",
			data:{id:routeId},
			cache:false,
			success:function(data){
				if(data.status == 'success'){
					window.location.href=window.location.href;
				}else{
					alert(data.msg);
				}
			}
		});
	}
}

//删除商户
function updateStatus(routeId, status){
    var msg='';
    if(status == 0) {
    	msg = '你确定要冻结此商户吗？';
    } else {
    	msg = '你确定要解冻此商户吗？';
    }
	if(confirm(msg)){
		$.ajax({
			type:"POST",
			url:_ctx+"/merchantApply/updateStatus",
			dataType:"json",
			data:{id:routeId, status : status},
			cache:false,
			success:function(data){
				if(data.status == 'success'){
					window.location.href=window.location.href;
				}else{
					alert(data.msg);
				}
			}
		});
	}
}

//编辑商户
function editMerchant(id){
	console.log(id);
	reloadModelData(_ctx+"/merchantApply/edit","编辑商户","更新",id);
	$("#merchantModal").modal("show");
}

//验证数据
function checkAccount(type,merchantId,channelId,loaning,loaningOrgId,loaningAmount){
	if(type == ''){
		$("input[name='type']").focus();
		alert("商户名不能为空");
		return false;
	}
	if(type == ''){
		$("input[name='type']").focus();
		alert("昵称不能为空");
		return false;
	}
	if(type == ''){
		$("input[name='type']").focus();
		alert("密码不能为空");
		return false;
	}
	return true;
}

//加载模态框的数据
function reloadModelData(url,title,btntext,id){
	$("#merchantModal #usermodelHead").text(title);
	$("#merchantModal #imgSubmit").text(btntext);
	$("input[name='url']").val(url);
	$("input[name='id']").val(id);
	
}

</script>
</body>
</html>
